#root {
  max-width: 320px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, hsl(250, 75%, 25%), hsl(200, 75%, 25%));
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.fun {
  display: block;
  font-size: 2rem;
  cursor: pointer;
  text-shadow: 0rem 0rem 1rem #ff00d4;
}

.fun:hover {
  transform: rotate(360deg);
  transition: 0.25s linear;
}

.fun-two {
  display: block;
  font-size: 2rem;
  cursor: pointer;
  text-shadow: 0rem 0rem 1rem #48009b;
}

.fun-two:hover {
  animation: gelatine 0.75s infinite;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
